@charset "UTF-8";

/*충전 테이블 + 기본셋팅*/
article#chargePoint{height: 743px;width:652px;position:relative;left:171px;}
article#chargePoint h2{width:74%; text-align: center;}
div#wantPoint{text-align:center;position:absolute;width:100%;height: 50%;}
table#PointList{border-collapse:collapse; width 500px; border: 1px solid;display: inline-block;}
table#PointList th,td{padding:5px;border: 1px solid;}




/*충전내역 영역*/
div#viewPointList{position:absolute;height: 300px;top:420px;text-align: center;width:100%;}
table#userPointList{ border-collapse:collapse; width 500px; display: inline-block;}
table#userPointList th{ border:1px solid;}

div#pageBar{width:100%; position:absolute;top:695px;text-align: center;height: 43px;}












