
@charset "UTF-8";
span#sellBuy1{font-family: 'Gloria Hallelujah', cursive; font-size: 60px;margin:0 auto;}
span#sellBuy2 a{font-family: 'Poor Story', cursive; font-size: 50px;margin:0 auto; color: orange;}
div#head-container{max-height: 200px;text-align: center;}
aside#asideLeft{float: left;width: 170px;height: 100%;}
aside#asideRight{float: right;width: 200px;height: 100%;}
body{max-width:1024px;margin: auto;}
input{width:120px;position: relative;bottom: 3px;}
.inout{width:20px;height:20px;position: relative;top: -2.5px; margin-right: 7px;}



div#login-container{text-align:center;border: 1px solid black;margin:0;height: 248px}
div#login-container #content{margin-top:10px;}
div#login-container span{position:relative;top:30px;}
div#login-container span#hi{position:relative;top:10px;}

button#loginBtn{padding-top:0px;margin:5px;width:125px; height:34px;font-size: 20px;}


p{margin:3px;}
ul#link li{margin:3px;font-family: '휴먼편지체', cursive;text-decoration:none;}
ul#link{list-style: none;padding-left: 0px;margin-bottom:10px;margin-top: -9px;}
div#login-container #user_profile_photo{top:15px; position:relative;width:70px; height: 70px;}



div#board-list-container{margin-top:0px;border: 1px solid gray;}
div#board-list-container ul{margin-top:1px;margin-bottom: 10px}
div#board-list-container li{margin-top:5px;margin-bottom: 5px;}
div#board-list-container p{margin-top:16px;}
div#weather-day{background:white; border: 1px solid;text-align: center;font-family: '맑은고딕'}
div#weather-day img{width:70px;}
div#weather-day span{margin:10px;}
div#weather #wSpan{font-size: 40px;position:relative;bottom: -6px;font-family: "휴먼고딕"}

div#weather-day{margin-bottom: 15px;}
a{ text-decoration:none !important;font-size: 15px;}
.ad{margin-top:6px; margin-top:10px;text-align: center; border: 1px solid;max-height: 300px;}
.ad img{width:99%;height: 182px;border-radius: 50%;}


div#login-container li{margin-top: 8px;} 
div#login-container span{margin-top: 8px;}
ul#link2{list-style: none;padding-left: 0px;margin-top: 0px;margin-bottom: 20px;}

div#weather span{font-family: 'Sunflower', sans-serif; font-size: 20px; }

section#content{min-height:720px;}

input#saveId{width:18px;height: 18px;position:relative;top:5px;}
a{color:black;}

span#pullPoint:hover{background: rgba(166,245,255,0.5);color: black;}
span#changePoint:hover{background: rgba(166,245,255,0.5);color: black;}










