@charset "UTF-8";

section#partner-section{
	width: 550px;
	margin: 0 auto;	
}
div#partner-container{
	position:relative;
	margin-right: 50px;
	width: 550px;
}
div#partner-container div#partner-list{
	position: relative;
	width:500px;
}
div#partner-container h2{
	font-size: 2.2em;
	margin-left: 170px;
	padding: 6px;
}
div#partner-list li{
	position: relative;
	padding: 2px;
	min-height: 20px;
}
div#partner-list li:hover{
	color: black;
	background: rgba(196, 192, 192,0.8);
	box-shadow: 5px 5px 5px 1px lightgray; 
}
div#partner-list li img{	
	width: 140px;
	height: 45px;
	border: 1px solid gray;
}