@charset "UTF-8";

article#messageWritePage{background:rgba(215,215,215,0.31); width:100%;height: 100%;text-align: center;}
article#messageWritePage h2{background:linear-gradient( to bottom, black, darkgray);text-align: center;width:100%;color:white;}
table#messageWriteTable{width:300px;background: white;display: inline-block;}
table#messageWriteTable td{padding:15px;}
table#messageWriteTable h3{margin:0}
table#messageWriteTable textarea{overflow:auto; margin:0;width: 265px;border: 1px solid #3e9b86;resize: none;}
table#messageWriteTable span{font-size:15px;color:darkgray;}
table#messageWriteTable button#btn1{cursor:pointer;border:none;left:30px;background: white;font-size:20px;position:relative;}
table#messageWriteTable button#btn2{cursor:pointer;border:none;background: white; color:#4feeda;font-size:20px;position:relative;left:105px;}





























