@charset "UTF-8";
article{height: 743px;width:652px;position:relative;left:171px;text-align: center;}
  
 #title2{position:relative;left:-97px;}
 table tr:hover{background: #e9ecef;}
 div#pageBar{right:177px; position:absolute;top:660px; width:300px;height: 30px;display:inline-block; }
 
 /*검색창*/
div#search-container{position:relative;top:610px;width:100%;left:-72px;}
div#search-container input[type=search]{width:220px;}
div#search-container input[type=button]{width:50px;}
div#search-container input[type=radio]{width:30px;}
div#search-userId{display: inline-block;}
div#search-content{display:none;}
#tableBody tr:hover{cursor: pointer;}
 
/*기존 효령씨 css에서 편집*/  
   .table{
        width: 97%; 
        border: 2px solid rgb(196, 192, 192);
        margin: 20px auto;
        text-align: center;
        font-size: 18px;
        position:absolute;
        table-layout:fixed;
        }
    .table th{font-size: 15px;vertical-align: baseline;text-overflow: ellipsis;overflow: hidden;}
    .table th,td{padding:2px;}
    .table td{  max-width:200px; 
    			max-height: 20px;
   				 padding: 4px;
    			vertical-align: unset;
    			text-overflow: ellipsis;
    			overflow: hidden;
    			}
    .table th{padding:10px;}

	





